<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzr.mapper.primary.JsapiTicketMapper">
    <resultMap id="BaseResultMap" type="com.dzr.po.JsapiTicket">
        <id column="appid" jdbcType="VARCHAR" property="appid"/>
        <result column="ticket" jdbcType="VARCHAR" property="ticket"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="update_time" jdbcType="INTEGER" property="updateTime"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
    appid, ticket, create_time, update_time, is_delete
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jsapi_ticket
        where appid = #{appid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from jsapi_ticket
    where appid = #{appid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.dzr.po.JsapiTicket">
    insert into jsapi_ticket (appid, ticket, create_time, 
      update_time, is_delete)
    values (#{appid,jdbcType=VARCHAR}, #{ticket,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=INTEGER}, #{isDelete,jdbcType=BIT})
  </insert>
    <insert id="insertSelective" parameterType="com.dzr.po.JsapiTicket">
        insert into jsapi_ticket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appid != null">
                appid,
            </if>
            <if test="ticket != null">
                ticket,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appid != null">
                #{appid,jdbcType=VARCHAR},
            </if>
            <if test="ticket != null">
                #{ticket,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dzr.po.JsapiTicket">
        update jsapi_ticket
        <set>
            <if test="ticket != null">
                ticket = #{ticket,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
        </set>
        where appid = #{appid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dzr.po.JsapiTicket">
    update jsapi_ticket
    set ticket = #{ticket,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT}
    where appid = #{appid,jdbcType=VARCHAR}
  </update>
</mapper>