<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>臻品珠宝</title>
</head>
<script>
    function font(w) {
        var w = w || 640,
                docEl = document.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 100 * (clientWidth / w) + 'px';
                };
        if (!document.addEventListener) return;
        window.addEventListener(resizeEvt, recalc, false);
        document.addEventListener('DOMContentLoaded', recalc, false);
    }

    font();
</script>
<body class="active-body">
<div class="nav-top">活动列表</div>
<div class="active-container">
    <div class="active-item">
        <a href="">
            <img src="images/active_img1.jpg" alt="">
            <p>活动标题</p>
        </a>
    </div>
    <div class="active-item">
        <a href="">
            <img src="images/active_img2.jpg" alt="">
            <p>活动标题</p>
        </a>
    </div>
    <div class="active-item">
        <a href="">
            <img src="images/active_img3.jpg" alt="">
            <p>活动标题</p>
        </a>
    </div>
</div>
<nav class="navbar-fixed-bottom">
    <div class="container-fluid index-tabar">
        <div class="col-xs-4"><a href="index.html"><img src="images/icon_home.png" height="20"></a>
            <p>首页</p></div>
        <div class="col-xs-4"><a href="active.html"><img src="images/icon_actived.png" height="20"></a>
            <p class="tabar-hover">活动</p></div>
        <div class="col-xs-4"><a href="mine.html"><img src="images/icon_mine.png" height="20"></a>
            <p>我的</p></div>
    </div>
</nav>
<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        // mousewheelControl : true,
    });
</script>
</body>
</html>