<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>臻品珠宝</title>
</head>
<script>
    function font(w) {
        var w = w || 640,
                docEl = document.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 100 * (clientWidth / w) + 'px';
                };
        if (!document.addEventListener) return;
        window.addEventListener(resizeEvt, recalc, false);
        document.addEventListener('DOMContentLoaded', recalc, false);
    }
    font();
</script>
<body class="brand-body">
<ul class="nav nav-tabs brand-nav" role="tablist">
    <li role="presentation" class="active"><a href="#neck" aria-controls="neck" role="tab" data-toggle="tab">颈饰</a></li>
    <li role="presentation"><a href="#handle" aria-controls="handle" role="tab" data-toggle="tab">手饰</a></li>
    <li role="presentation"><a href="#ear" aria-controls="ear" role="tab" data-toggle="tab">耳饰</a></li>
    <li role="presentation"><a href="#foot" aria-controls="foot" role="tab" data-toggle="tab">脚饰</a></li>
</ul>
<div role="tabpanel" class="flex-box brand-pane active" id="neck">
    <div class="brand-item">
        <a href="bshow.html">
            <img src="images/brand_img.png" alt="">
            <div class="brand-item-txt">
                <p>臻品珠宝 产品名</p>
                <span>询价</span>
            </div>
        </a>
    </div>
    <div class="brand-item">
        <a href="bshow.html">
            <img src="images/brand_img.png" alt="">
            <div class="brand-item-txt">
                <p>臻品珠宝 产品名</p>
                <span>询价</span>
            </div>
        </a>
    </div>
    <div class="brand-item">
        <a href="bshow.html">
            <img src="images/brand_img.png" alt="">
            <div class="brand-item-txt">
                <p>臻品珠宝 产品名</p>
                <span>询价</span>
            </div>
        </a>
    </div>
    <div class="brand-item">
        <a href="bshow.html">
            <img src="images/brand_img.png" alt="">
            <div class="brand-item-txt">
                <p>臻品珠宝 产品名</p>
                <span>询价</span>
            </div>
        </a>
    </div>
    <div class="brand-item">
        <a href="bshow.html">
            <img src="images/brand_img.png" alt="">
            <div class="brand-item-txt">
                <p>臻品珠宝 产品名</p>
                <span>询价</span>
            </div>
        </a>
    </div>
    <div class="brand-item">
        <a href="bshow.html">
            <img src="images/brand_img.png" alt="">
            <div class="brand-item-txt">
                <p>臻品珠宝 产品名</p>
                <span>询价</span>
            </div>
        </a>
    </div>
    <div class="brand-item">
        <a href="bshow.html">
            <img src="images/brand_img.png" alt="">
            <div class="brand-item-txt">
                <p>臻品珠宝 产品名</p>
                <span>询价</span>
            </div>
        </a>
    </div>
</div>
<div role="tabpanel" class="flex-box brand-pane" id="handle">2</div>
<div role="tabpanel" class="flex-box brand-pane" id="ear">3</div>
<div role="tabpanel" class="flex-box brand-pane" id="foot">4</div>
<nav class="navbar-fixed-bottom">
    <div class="container-fluid index-tabar">
        <div class="col-xs-4"><a href="index.html"><img src="images/icon_home.png" height="20"></a>
            <p>首页</p></div>
        <div class="col-xs-4"><a href="active.html"><img src="images/icon_active.png" height="20"></a>
            <p>活动</p></div>
        <div class="col-xs-4"><a href="mine.html"><img src="images/icon_mine.png" height="20"></a>
            <p>我的</p></div>
    </div>
</nav>
<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        // mousewheelControl : true,
    });
</script>
</body>
</html>