<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>臻品珠宝</title>
</head>
<script>
    function font(w) {
        var w = w || 640,
                docEl = document.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 100 * (clientWidth / w) + 'px';
                };
        if (!document.addEventListener) return;
        window.addEventListener(resizeEvt, recalc, false);
        document.addEventListener('DOMContentLoaded', recalc, false);
    }

    font();
</script>
<body class="active-body">
<div class="nav-top"><a href="index.html"><img src="images/icon_left.png" alt="" class="nav-toback"></a>扫码付款</div>
<div class="flex-box code-payment">
    <span>金额</span>
    <input type="text">
</div>
<div class="code-con">
    <div class="flex-box code-item code-item-balance"><img src="images/icon_code_balance.png" alt="">
        <div class="code-item-txt">余额：<span>￥1888.00</span></div>
        <div class="code-item-opreate"><input type="radio" name="pay" id=""></div>
    </div>
    <div class="flex-box code-item code-item-integral"><img src="images/icon_nav3.png" alt="">
        <div class="code-item-txt">积分：<span>18888</span></div>
        <div class="code-item-opreate"><input type="radio" name="pay" id=""></div>
    </div>
    <div class="flex-box code-item code-item-discount"><img src="images/icon_code_discount.png" alt="">
        <div class="code-item-txt">打折卡</div>
        <div class="code-item-opreate"><img src="images/icon_code_right.png" alt=""></div>
    </div>
    <div class="flex-box code-item code-item-ticket"><img src="images/icon_mine_ticket.png" alt="">
        <div class="code-item-txt">优惠券<span></span></div>
        <div class="code-item-opreate"><img src="images/icon_code_right.png" alt=""></div>
    </div>
    <div class="code-number">共支付：<p><span>￥</span>299.00</p></div>
</div>
<div class="self-btn pwd-btn">
    <button>确认支付</button>
</div>
<img src="images/icon_logo.png" alt="" class="self-bg code-bg">
<nav class="navbar-fixed-bottom">
    <div class="container-fluid index-tabar">
        <div class="col-xs-4"><a href="index.html"><img src="images/icon_home.png" height="20"></a>
            <p>首页</p></div>
        <div class="col-xs-4"><a href="active.html"><img src="images/icon_active.png" height="20"></a>
            <p>活动</p></div>
        <div class="col-xs-4"><a href="mine.html"><img src="images/icon_mine.png" height="20"></a>
            <p>我的</p></div>
    </div>
</nav>
<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        // mousewheelControl : true,
    });
</script>
</body>
</html>