<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>臻品珠宝</title>
</head>
<script>
    function font(w) {
        var w = w || 640,
                docEl = document.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 100 * (clientWidth / w) + 'px';
                };
        if (!document.addEventListener) return;
        window.addEventListener(resizeEvt, recalc, false);
        document.addEventListener('DOMContentLoaded', recalc, false);
    }

    font();
</script>
<body>
<div class="swiper-container banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="code.html"><img src="images/banner1.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href=""><img src="images/banner1.jpg" alt=""></a></div>
        <div class="swiper-slide"><a href=""><img src="images/banner1.jpg" alt=""></a></div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="index-cb1"></div>
<div class="flex-box index-info">
    <div class="flex-box flex1 info-txt">
        <img src="images/my_cover.jpg" alt="" class="my-cover">
        <div class="flex-box flex1 myinfo">
            <div class="myinfo-t">姜哲<img src="images/icon_man.png" alt=""><span>普通用户</span></div>
            <div class="flex-box myinfo-b">
                <div class="myinfo-btxt">ID:6618</div>
                <div class="myinfo-btxt">微信:661868</div>
            </div>
        </div>
    </div>
    <div class="info-vip">升级臻品会员></div>
</div>
<div class="flex-box index-pay">
    <div class="flex-box pay-item"><img src="images/icon_scancode.png"><span>扫码付款</span></div>
    <div class="flex-box pay-item"><img src="images/icon_pay.png" alt=""><span>臻品支付</span></div>
</div>
<div class="index-nav">
    <div class="flex-box index-nav-box">
        <div class="flex-box nav-item"><a href="vip.html"><img src="images/icon_nav1.png" alt="">
            <p>会员充值</p></a></div>
        <div class="flex-box nav-item"><a href="consumption.html"><img src="images/icon_nav2.png" alt="">
            <p>消费记录</p></a></div>
        <div class="flex-box nav-item"><a href="recharge.html"><img src="images/icon_nav3.png" alt="">
            <p>积分记录</p></a></div>
    </div>
    <div class="flex-box index-nav-box">
        <div class="flex-box nav-item"><a href="team.html"><img src="images/icon_nav4.png" alt="">
            <p>团队</p></a></div>
        <div class="flex-box nav-item"><a href="brand.html"><img src="images/icon_nav5.png" alt="">
            <p>臻品推广</p><span>(兼职赚钱)</span></a></div>
        <div class="flex-box nav-item"><a href="sendcard.html"><img src="images/icon_nav6.png" alt="">
            <p>卡券赠送</p><i>16</i></a></div>
    </div>
</div>
<div class="index-vip">
    <div class="index-vip-top"></div>
    <div class="index-vip-box">
        <button>￥299.00升级臻品会员</button>
    </div>
</div>
<nav class="navbar-fixed-bottom">
    <div class="container-fluid index-tabar">
        <div class="col-xs-4"><a href="index.html"><img src="images/icon_homed.png" height="20"></a>
            <p class="tabar-hover">首页</p></div>
        <div class="col-xs-4"><a href="active.html"><img src="images/icon_active.png" height="20"></a>
            <p>活动</p></div>
        <div class="col-xs-4"><a href="mine.html"><img src="images/icon_mine.png" height="20"></a>
            <p>我的</p></div>
    </div>
</nav>
<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/index.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        // mousewheelControl : true,
    });
</script>
</body>
</html>