<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>臻品珠宝</title>
</head>
<script>
    function font(w) {
        var w = w || 640,
                docEl = document.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 100 * (clientWidth / w) + 'px';
                };
        if (!document.addEventListener) return;
        window.addEventListener(resizeEvt, recalc, false);
        document.addEventListener('DOMContentLoaded', recalc, false);
    }

    font();
</script>
<body class="active-body">
<div class="nav-top"><a href="mine.html"><img src="images/icon_left.png" alt="" class="nav-toback"></a>修改密码</div>
<div class="pwd-container">
    <div class="pwd-h5">重新设置您的登录密码</div>
    <div class="pwd-item pwd-bottom"><img src="images/icon_pwd.png" alt=""><input type="text" placeholder="新的登录密码">
    </div>
    <div class="pwd-item"><img src="images/icon_pwd.png" alt=""><input type="text" placeholder="确认新的登录密码"></div>
    <div class="self-btn pwd-btn">
        <button>确定</button>
    </div>
    <img src="images/icon_logo.png" alt="" class="pwd-bg">
</div>
<nav class="navbar-fixed-bottom">
    <div class="container-fluid index-tabar">
        <div class="col-xs-4"><a href="index.html"><img src="images/icon_home.png" height="20"></a>
            <p>首页</p></div>
        <div class="col-xs-4"><a href="active.html"><img src="images/icon_active.png" height="20"></a>
            <p>活动</p></div>
        <div class="col-xs-4"><a href="mine.html"><img src="images/icon_mine.png" height="20"></a>
            <p>我的</p></div>
    </div>
</nav>
<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        // mousewheelControl : true,
    });
</script>
</body>
</html>